*.bkp
*.DAT
*.DCD
*.DCL
*.dump
*.swo
*.swp
.eunit
.rebar3/
_build
dderl.dderl*
ebin
log
node_modules/
package-lock.json
priv/certs/localhost*.*
priv/public/dist
priv/swagger/yarn.*
rebar.lock
rebar3.crashdump
snapshot
TEST*.xml
test/*.beam
tmp
