.eunit
_build
ebin
log
priv/certs/localhost*.*
priv/public/dist
rebar.lock
rebar3.crashdump
snapshot
test/*.beam
*.dump
*.swp
*.swo
dderl.dderl*
*.bkp
tmp
TEST*.xml
*.DCD
*.DAT
*.DCL
node_modules/
priv/swagger/yarn.*
.rebar3/
.idea
