%%-*- mode: erlang -*-
%% -----------------------------------------------------------------------------
%%
%% rebar.config: rebar3 configuration file.
%%
%% Copyright (c) 2019-2021 Konnexions GmbH.  All Rights Reserved.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -----------------------------------------------------------------------------

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.

{coveralls_coverdata, [
    "_build/test/cover/ct.coverdata",
    "_build/test/cover/eunit.coverdata"
]}.
{coveralls_service_name, "travis-ci"}.

{ct_opts, [
    {cover},
    {verbose}
]}.

{deps, [
    {cowboy,"2.7.0"},
    {erlimem, {git, "https://github.com/konnexionsgmbh/erlimem", {tag, "3.1.0"}}},
    {esaml, {git, "https://github.com/KonnexionsGmbH/esaml", {tag, "2.3.0"}}},
    {imem, {git, "https://github.com/konnexionsgmbh/imem", {branch, port_compiler_upgrade}}},
    {oranif, {git, "https://github.com/konnexionsgmbh/oranif", {tag, "0.2.3"}}},
    {prometheus, "4.5.0"}
]}.

{erl_first_files, [
  "src/dperl_worker.erl",
  "src/dperl_strategy_scr.erl"
]}.

{deps_error_on_conflict, false}.

{dist_node, [
    {setcookie, 'dderl'},
    {name, 'dderl@127.0.0.1'}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    {parse_transform, imem_rec_pretty_pt},
    {lager_extra_sinks, [access]}
]}.

{minimum_otp_vsn, "20.1"}.
{blacklisted_otp_vsns, ["20.3"]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{relx, [
    {release, {dderl, "3.9.7"}, [dderl]},

    {dev_mode, true},
    {extended_start_script, true},
    {include_erts, true},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {copy, "LICENSE", "LICENSE"},
        {template, "config/sys.config", "releases/{{rel_vsn}}/sys.config"},
        {template, "config/vm.args", "releases/{{rel_vsn}}/vm.args"}
    ]}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_functions,
    undefined_function_calls
]}.

{shell, [
    {apps, [dderl]},
    {config, "config/shell.config"}
]}.

{plugins, [
    rebar3_hex
]}.

{profiles, [
    {ui, [{post_hooks, [{compile, "bash ./build_fe.sh"}]}]},
    {prod, [
        {pre_hooks, [{release, "escript inject_git_rev.escript prod"}]},
        {post_hooks, [{release, "bash ./post_release.sh"}]},
        {relx, [{dev_mode, false}, {include_src, false}]}
    ]},
	{test, [{deps, [{meck, "0.8.13"}]}]}
]}.
