%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[
  {dderl, [
      {interface, "0.0.0.0"},
      {port, 8443},
      {ssl_opts, []}
  ]},

  {imem, [
      {cold_start_recover, false},
      {mnesia_node_type, disc},
      {mnesia_schema_name, dderl},
      {erl_cluster_mgrs, []},
      {tcp_ip, "0.0.0.0"},
      {tcp_port, 1236}
  ]},

%% WAX config
  {wax, [
      {rp_id, auto},
      {metadata_update_interval, 3600},
      {metadata_access_token, <<"a21179872212686e4b126a7448085e796cbf1eaf1ec5ca7e">>},
      {allowed_attestation_types, [basic, uncertain, attca, self]}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, info},
        {formatter_config, [
          date," ",time," ",color,"[",severity,"] ",
          {module,
            [
              "[", {application,[]}, {pid,[]}, {pid,["@"],[]}, module,
              {function,[":",function],[]}, {line,[":",line],[]}, "]"
            ],
            []
          },
          {enum,[" [",enum,"]"],[]},
          " ",message,"\n"
        ]}
      ]},
      {lager_file_backend, [
        {file,"log/error.log"},
        {level,error},
        {size,10485760},
        {date,"$D0"},
        {formatter_config, [
          date," ",time," ",color,"[",severity,"] ",
          {module,
            [
              "[", {application,[]}, {pid,[]}, {pid,["@"],[]}, module,
              {function,[":",function],[]}, {line,[":",line],[]},
              "]"
            ],
            []
          },
          {enum, [" [",enum,"]"],[]},
          " ", message,"\n"
        ]},
        {count,5}
      ]},
      {lager_file_backend, [
        {file,"log/console.log"},
        {level,info},
        {size,10485760},
        {date,"$D0"},
          {formatter_config, [
            date," ",time," ",color,"[",severity,"] ",
            {module,
              [
                "[", {application,[]}, {pid,[]}, {pid,["@"],[]},
                module, {function,[":",function],[]}, {line,[":",line],[]},
                "]"
              ],
              []
            },
            {enum,[" [",enum,"]"],[]},
            " ",message,"\n"
          ]},
          {count,5}
      ]},
      {imem_lager_backend, [
        {level,info},
        {table_name_fun,{dderl,log_table}},
        {application,dderl},
        {tn_event,[{dderl,dderl,dderlLogTable}]}
      ]}
    ]},
    {extra_sinks, [
      {access_lager_event, [
        {handlers, [
          {lager_file_backend, [
            {file,"log/dderl_access.log"},
            {level,info},
            {size,10485760},
            {date,"$D0"},
            {count,5},
            {formatter,dderl_access_logger},
            {formatter_config, [date," ",time,";",message,"\n"]}
          ]}
        ]},
        {async_threshold,500},
        {async_threshold_window,50}
      ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
  ]},

  {ssl, [{protocol_version,['tlsv1.2','tlsv1.1',tlsv1]}]},
  {sasl, [{sasl_error_logger, false}]},
  {os_mon, [{start_disksup,false}, {start_memsup,true}, {start_cpu_sup,false}]},
  {kernel, [{inet_dist_listen_min, 7000}, {inet_dist_listen_max, 7020}]}
].
