%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{release_description, "Web based tool for exploring databases"}.
{log_dir,  "./log"}.

% vm.args
{node,        "dderl@127.0.0.1"}.
{cookie,      "dderl_cookie"}.
{epmd_min,    7000}.
{epmd_max,    7020}.
{proto_dist,  imem_inet_tcp}.

%%
%% sys.config
%%
{imem_node_type,    "ram"}.
{imem_cluster_mgrs,         "['dderl@127.0.0.1']"}.
{imem_schema_name,          "dderl"}.
{imem_listener_port,        8125}.
{dderl_listener_port,       8443}.
{imem_cold_start_recover,   true}.

%%
%% bin/dderl
%%
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_ulimit_warn,  1024}.
{runner_user,         ""}.
{runner_wait_process, "dderl_sup"}.

% lager
{lager_sink, ""}.
{lager_handler, ""}.
{lager_file_backend_config,
  ",
  {formatter_config, [date, \" \", time, \" \", color,
    \"[\", severity, \"] \",
    {module, [\"[\",
        {application, \"\"},
        {pid, \"\"},
        {pid, [\"@\"], \"\"},
        module,
        {function, [\":\", function], \"\"},
        {line, [\":\",line], \"\"},
      \"]\"],
    \"\"},
    {enum, [\" [\", enum, \"]\"], \"\"},
    \" \",  message, \"\n\"]}"
}.  
